<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Contact List</title>
  </head>
  <body>
    <h1>Contacts:</h1>
    <ul>
      @foreach(var Contact in Model)
      {
        <li><strong>@Contact.GetName()</strong></li>
        <br>
        <li><strong>Phone #:</strong> @Contact.GetPhoneNumber()</li>
        <h3>Address:</h3>
        <li><strong>Street:</strong> @Contact.GetAddress().GetStreet()</li>
        <li><strong>City:</strong> @Contact.GetAddress().GetCity()</li>
        <li><strong>State:</strong> @Contact.GetAddress().GetState()</li>
        <li><strong>Zip Code:</strong> @Contact.GetAddress().GetZipCode()</li>
      }
    </ul>
    <a href="/contacts/new">Add a new Contact:</a>
  </body>
</html>
